<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home Page</h1>
      <br>
      <h3>Developers:</h3>
      <ul>
        <li>Colton Steeve</li>
        <li>Randall Porter</li>
        <li>James Runyon</li>
      </ul>
        <h3>Developer of User Controller: Colton Steeve</h3>
        <h4>Requests to GET JSON from user</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/user/findall">https://intense-wave-46497.herokuapp.com/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/1">http://localhost:8089/user/findone/1</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/user/findone/1">https://intense-wave-46497.herokuapp.com/user/findone1</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/2">http://localhost:8089/user/findone/2</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/user/findone/2">https://intense-wave-46497.herokuapp.com/user/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/3">http://localhost:8089/user/findone/3</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/user/findone/3">https://intense-wave-46497.herokuapp.com/user/findone/3</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/4">http://localhost:8089/user/findone/4</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/user/findone/4">https://intense-wave-46497.herokuapp.com/user/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view from user</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user">https://intense-wave-46497.herokuapp.com/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/create">https://intense-wave-46497.herokuapp.com/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/1">http://localhost:8089/user/edit/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/edit/1">https://intense-wave-46497.herokuapp.com/user/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/2">http://localhost:8089/user/edit/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/edit/2">https://intense-wave-46497.herokuapp.com/user/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/3">http://localhost:8089/user/edit/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/edit/3">https://intense-wave-46497.herokuapp.com/user/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/delete/1">http://localhost:8089/user/delete/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/delete/1">https://intense-wave-46497.herokuapp.com/user/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/2">http://localhost:8089/user/delete/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/delete/2">https://intense-wave-46497.herokuapp.com/user/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/3">http://localhost:8089/user/delete/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/delete/3">https://intense-wave-46497.herokuapp.com/user/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/details/1">http://localhost:8089/user/details/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/details/1">https://intense-wave-46497.herokuapp.com/user/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/2">http://localhost:8089/user/details/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/details/2">https://intense-wave-46497.herokuapp.com/user/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/3">http://localhost:8089/user/details/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/user/details/3">https://intense-wave-46497.herokuapp.com/user/details/3</a>
        </li>
      </ol>

      <h3>Developer of Account Controller: Randall Porter</h3>
        <h4>Requests to GET JSON from account</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/account/findall">https://intense-wave-46497.herokuapp.com/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/1">http://localhost:8089/account/findone/1</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/account/findone/1">https://intense-wave-46497.herokuapp.com/account/findone1</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/2">http://localhost:8089/account/findone/2</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/account/findone/2">https://intense-wave-46497.herokuapp.com/account/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/3">http://localhost:8089/account/findone/3</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/account/findone/3">https://intense-wave-46497.herokuapp.com/account/findone/3</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/4">http://localhost:8089/account/findone/4</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/account/findone/4">https://intense-wave-46497.herokuapp.com/account/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view from account</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account">https://intense-wave-46497.herokuapp.com/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/create">https://intense-wave-46497.herokuapp.com/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/1">http://localhost:8089/account/edit/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/edit/1">https://intense-wave-46497.herokuapp.com/account/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/2">http://localhost:8089/account/edit/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/edit/2">https://intense-wave-46497.herokuapp.com/account/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/3">http://localhost:8089/account/edit/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/edit/3">https://intense-wave-46497.herokuapp.com/account/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/1">http://localhost:8089/account/delete/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/delete/1">https://intense-wave-46497.herokuapp.com/account/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/2">http://localhost:8089/account/delete/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/delete/2">https://intense-wave-46497.herokuapp.com/account/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/3">http://localhost:8089/account/delete/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/delete/3">https://intense-wave-46497.herokuapp.com/account/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/1">http://localhost:8089/account/details/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/details/1">https://intense-wave-46497.herokuapp.com/account/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/2">http://localhost:8089/account/details/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/details/2">https://intense-wave-46497.herokuapp.com/account/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/3">http://localhost:8089/account/details/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/account/details/3">https://intense-wave-46497.herokuapp.com/account/details/3</a>
        </li>
      </ol>

      <h3>Developer of transaction Controller: James Runyon</h3>
        <h4>Requests to GET JSON from transaction</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/transaction/findall">https://intense-wave-46497.herokuapp.com/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1">http://localhost:8089/transaction/findone/1</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/transaction/findone/1">https://intense-wave-46497.herokuapp.com/transaction/findone1</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/2">http://localhost:8089/transaction/findone/2</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/transaction/findone/2">https://intense-wave-46497.herokuapp.com/transaction/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/3">http://localhost:8089/transaction/findone/3</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/transaction/findone/3">https://intense-wave-46497.herokuapp.com/transaction/findone/3</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/4">http://localhost:8089/transaction/findone/4</a>
        </li>
        <li> <a href="https://intense-wave-46497.herokuapp.com/transaction/findone/4">https://intense-wave-46497.herokuapp.com/transaction/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view from transaction</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction">https://intense-wave-46497.herokuapp.com/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/create">https://intense-wave-46497.herokuapp.com/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/1">http://localhost:8089/transaction/edit/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/edit/1">https://intense-wave-46497.herokuapp.com/transaction/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/2">http://localhost:8089/transaction/edit/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/edit/2">https://intense-wave-46497.herokuapp.com/transaction/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/3">http://localhost:8089/transaction/edit/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/edit/3">https://intense-wave-46497.herokuapp.com/transaction/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/1">http://localhost:8089/transaction/delete/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/delete/1">https://intense-wave-46497.herokuapp.com/transaction/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/2">http://localhost:8089/transaction/delete/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/delete/2">https://intense-wave-46497.herokuapp.com/transaction/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/3">http://localhost:8089/transaction/delete/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/delete/3">https://intense-wave-46497.herokuapp.com/transaction/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/details/1">http://localhost:8089/transaction/details/1</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/details/1">https://intense-wave-46497.herokuapp.com/transaction/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/2">http://localhost:8089/transaction/details/2</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/details/2">https://intense-wave-46497.herokuapp.com/transaction/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/3">http://localhost:8089/transaction/details/3</a>
        </li>
        <li> 
          <a href="https://intense-wave-46497.herokuapp.com/transaction/details/3">https://intense-wave-46497.herokuapp.com/transaction/details/3</a>
        </li>
      </ol>
     


    </div>
  </div>
</div>